.pe-10 {
  padding-right: 10% !important;
}

.ps-10 {
  padding-left: 10% !important;
}

.ms-10 {
  margin-left: 10vw !important;
}

.gap-10 {
  gap: 15% !important;
}

.loading-indicator:before {
  content: '';
  background: #000000cc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: 'Loading...';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;        
}